<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przeglad</title>
</head>
<body>
    <h1>Podstrona Programu Accountant</h1>
    <h2>Poniżej Funkcja przegladu , wyświetla dane z podanego zakresu np. 0,5</h2>
    <h3>przykład : 1 okno:0  ,2 okno:4</h3>
    <form action="/przeglad/" method="POST">
        <input type="text" id="stp" name="starter">
        <input type="text" id="enp" name="ender">
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <h3>Całkowita wartosc transakcji,   identyfikator,  typ </h3>
        <p>{{ content }}</p>
</body>
</html>