<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sprzedaz</title>
</head>
<body>
    <h1>Podstrona Programu Accountant</h1>
    <h2>Poniżej Funkcja sprzedazy przedmiotów znajdujących się na magazynie</h2>
    <h3>Okno 1:nazwa produktu , Okno 2:cena sztuki , Okno 3: liczba sztuk  </h3>
    <form action="/sprzedaz/" method="POST">
        <input type="text" id="zaa" name="identt">
        <input type="text" id="aaz" name="cenass">
        <input type="text" id="aza" name="liczbass">
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</body>
</html>