<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zakup</title>
</head>
<body>
    <h1>Podstrona Programu Accountant</h1>
    <h2>Poniżej Funkcja Zakupu produktów </h2>
    <h3>Okno 1:nazwa produktu , Okno 2:cena sztuki , Okno 3: liczba sztuk  </h3>
    <form action="/zakup/" method="POST">
        <input type="text" id="iii" name="ident">
        <input type="text" id="uuu" name="cenas">
        <input type="text" id="yyy" name="liczbas">
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <p>{{ content }}</p>
</body>
</html>